--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
fastapi
uvicorn
python-multipart
pandas
numpy
scikit-learn
pdfplumber
python-docx
langdetect
deep-translator
rapidfuzz
